.text-center{
 text-align: center;
}
.btn-pink{
	background-color: #7FFFD4
}
.btn-round{
	border-radius: 40px
}
.bg-image{
	background-image: url('https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/13880120_10208683768786660_8027856589650328844_n.jpg?oh=20207a54e30a705bf03e58adcbe63720&oe=59309558');
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 400px;
}
.text-black{
	color: black;
}

.bg-imagecontact{
	background-image: url('https://www.xmple.com/wallpaper/gradient-linear-blue-yellow-5120x2880-c2-fafad2-48d1cc-a-0-f-14.svg');
	background-size: cover;
	padding-top: 175px;
	padding-bottom: 175px;
}

.bg-imagesection3{
	background-image: url('http://media.gettyimages.com/videos/young-woman-swimming-in-swimming-pool-ravellocampania-video-id128513051?s=640x640');
	padding-top: 175px;
	padding-bottom: 150px;
}

.no-bottom-margin{
	margin-bottom: 0px;
	margin-top: 0px;
}

.aquamarinelinks{
	color: #7FFFD4 !important;
}

.navbar-brand{
	color: #7FFFD4 !important;
}

.bg-imagestatement{
	background-image: url('http://media.gettyimages.com/videos/young-woman-swimming-in-swimming-pool-ravellocampania-video-id128513051?s=640x640');
	padding-top: 70px;
	padding-bottom: 70px;
}

.bg-imageb{
	background-color: black;
	color: #7FFFD4;
	padding-top:50px;
}

.bgimageedu{
	background-color: #7FFFD4;
	colour: black;
	padding-bottom: 50px;
	padding-top:50px;
}